# General extensions to ignore
*.RData
*.rdb
*.rdx
*.DS_Store
.Rproj.user
.Rhistory
.Ruserdata
.Rapp.history

# Temporary holds: Notes
# notes-lecture/lec01*
# notes-lecture/lec02*
# notes-lecture/lec03*
# notes-lecture/lec04*
# notes-lecture/lec05*
# notes-lecture/lec06*
notes-lecture/lec07*
notes-lecture/lec08*
notes-lecture/lec09*
notes-lecture/lec10*
notes-lecture/lec11*
notes-lecture/lec12*
notes-lecture/lec13*

# Temporary holds
# project*
final/*
# final/final-class*
# final/final-home/setup.R
# final/final-home/sim.R
# final/final-home/key*
# final/final-class*
problem-sets/00[2-9]*
problem-sets/NOTES